body {
  font-family: "Cinzel", serif;
  background-color: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

h1 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
  font-weight: 700;
}

label {
  color: #333;
  font-size: 1.2em;
  display: block;
  margin-bottom: 10px;
}

#number {
  padding: 10px;
  font-size: 1.2em;
  border: 2px solid #333;
  border-radius: 4px;
  width: calc(100% - 40px);
  margin-bottom: 20px;
}

#convert-btn {
  padding: 12px 24px;
  font-size: 1.2em;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#convert-btn:hover {
  background-color: #555;
}

#output {
  margin-top: 30px;
  font-size: 1.6em;
  color: #333;
  font-weight: 700;
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 12px;
  }

  .container {
    max-width: 300px;
    padding: 10px;
  }
}
